<div class="header">
  <a href="#default" class="logo">
    <img src="https://www.chemondis.com/images/CheMondis_logo.svg" >
  </a>
  <div class="header-right pt-3">
    <h1>Welcome To Chemondis Image Gallery.</h1>
  </div>
</div>