<div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> Something went wrong. Please try again after 5 minutes.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="photos-container pt-4">
  <app-image-grid [records]="photos" [type]="'photos'"></app-image-grid> 
</div>