<app-header></app-header>
<div class="spacer">
    &nbsp;
</div>
<p class="pl-3">{{title}}</p>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
