<div class="sidebar border">
  <div class="card border-0">
      <h5 class="card-header">Filters</h5>
      <div class="card-body">
        <p class="card-title"><strong>Show:</strong></p>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label (click)="getRecords(20)" class="btn btn-secondary active cursor-pointer">
              <input type="radio" name="options" id="option1" autocomplete="off" checked>
              20
            </label>
            <label (click)="getRecords(30)" class="btn btn-secondary cursor-pointer">
              <input type="radio" name="options" id="option2" autocomplete="off">
              30
            </label>
            <label (click)="getRecords(50)" class="btn btn-secondary cursor-pointer">
              <input type="radio" name="options" id="option3" autocomplete="off">
              50
            </label>
          </div>          
      </div>
    </div>     
</div>
