<div class="row">
  <div class="col-12 mb-3 border-bottom">
    <div class="row">
      <div class="col-6">
        <h5 class="text-capitalze">{{pageTitle}}</h5>
      </div>
      <div class="col-6">
        <div class="has-text-centered text-right">
          <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide"
            [responsive]="responsive" [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel" [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="col-12">
    <div class="row">
      <div class="col-2 cursor-pointer" *ngFor="let item of records | paginate: config">
        <div class="card mb-3" (click)="getDetails(item)">
          <img class="card-img-top" src="{{getUserImage(item)}}" alt="image cap">
          <div class="card-body p-1 pl-2 pr-2">
            <div class="card-text">
              <span class="titletip text-capitalze"> {{getTitle(item.title)}}
                <span *ngIf="item.title.length > 19" class="titletiptext">
                  {{item.title}}
                </span>
              </span>
            </div>
            <div *ngIf="type === 'albums'" class="card-text"><strong>User: </strong>{{item.userId}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="photoData" id="photoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header border-0 pb-0">
        <h4 class="modal-title text-capitalze"><strong>Photo:</strong> {{photoData.title}}({{currentAlbum.title}}). <strong>Owner:</strong> {{currentAlbum.userId}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <img [src]="photoData.url" alt="image cap">
    </div>
  </div>
</div>
